<!-- Learn Modal START -->
<div class="modal fade modal-info" id="learnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				<h4 class="modal-title" id="myModalLabel">Learn Mirage</h4> </div>
			<div class="modal-body">
				<p class="learn-description">
					You can learn mirage by choosing following steps.
				</p>
				<div class="learn-list-contianer">
					<ol class="learn-list">
						<li>
							<a href="https://github.com/appbaseio/mirage/blob/dev/README.md">Mirage Docs</a>
						</li>
						<li>
							<a href="https://github.com/appbaseio/mirage">Mirage Code</a>
						</li>
						<li>
							<a (click)="loadLearn();">Mirage Examples</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Learn Modal END -->
<!-- Info Modal START -->
<div class="modal fade modal-info" id="learnInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				<h4 class="modal-title" id="myModalLabel">Examples loaded</h4> </div>
			<div class="modal-body">
				<p class="learn-description">
					We have loaded the examples for you, you can check it inside saved query list on the left sidebar.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Info Modal END -->
