<!-- Learn Modal START -->
<div class="modal fade modal-info" id="learnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				<h4 class="modal-title" id="myModalLabel">New to Mirage?</h4> </div>
			<div class="modal-body">
	            <div class="learn-description">
					<p>
						Check out the video and following links for a quick start with Mirage.
					</p>
					<div class="learn-list-contianer">
						<ul class="learn-list">
							<li>
							    <iframe src="https://player.vimeo.com/video/185000306?title=0&byline=0&portrait=0" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/185000306">Mirage: The missing query explorer for Elasticsearch</a> from <a href="https://vimeo.com/user49492156">Siddharth Kothari</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
							</li>
							<li>
								<a (click)="loadLearn();">Live demo with preloaded queries</a>
							</li>
							<li>
								<a href="https://github.com/appbaseio/mirage/blob/dev/README.md" target="_blank">Read more on Github</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Learn Modal END -->
<!-- Info Modal START -->
<div class="modal fade modal-info" id="learnInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				<h4 class="modal-title" id="myModalLabel">Preloading Queries</h4> </div>
			<div class="modal-body">
				<p class="learn-description">
					We have loaded some new queries for you to try out Mirage, you can find them in the left "saved queries" sidebar.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Info Modal END -->
