.single_query {
	padding: 10px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
}
.action-btn-group {
	position: absolute;
	top: -10px;
    right: 10px;
}