.query-result-container {
  background: #f7f7f7; }
  .query-result-container .queryRight {
    padding: 15px 15px 15px 0;
    background: #f7f7f7;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede; }

.codemirror {
  margin-bottom: 15px; }
