<section class="loading" *ngIf="!connected && !initial_connect">
	<div class="vertical-cell text-center">
		<h1>
			<i class="fa fa-spinner fa-spin fa-1x"></i>Please wait!
		</h1>
	</div>
</section>
<div class="app-container">
	<!-- HEADER START -->
	<form class="col-xs-12 init-ES" id="init-ES">
		<div class="esContainer">
			<div class="form-group m-0 col-xs-8 pd-0 pr-5">
				<input type="text"
					[(ngModel)]="config.url"
					class="form-control" 
					name="url" 
					placeholder="ElasticSearch Cluster URL: https://username:password@scalr.api.appbase.io" />
			</div>
			<div class="form-group m-0 col-xs-4 pd-0 pr-5">
				<input type="text" 
			[(ngModel)]="config.appname"
			class="form-control"
			name="appname" 
			placeholder="Index name to browse data from" value="moviedb" />
			</div>
			<div class="submit-btn-container">
				<a (click)="connect()" [class.btn-info] ="mapping.mapping != null" class="btn btn-default submit-btn">
					<span *ngIf = "!connected">Connect</span>
					<span *ngIf = "connected">Connected</span>
				</a>
			</div>
		</div>
	</form>
	<!-- HEADER END -->
	<div class="container-fluid">
		<div class="row feature-query-container" [ngClass]="{off: !sidebar}">
			<!-- Sidebar start -->
			<div class="features-section">
				<a (click)="sidebarToggle();" class="btn btn-default sidebar-toggle">
					<i class="fa fa-chevron-left sidebar-close"></i>
					<i class="fa fa-chevron-right sidebar-open"></i>
				</a>
				<div class="feature-section-container col-xs-12 pd-0">
					<list-query [savedQueryList]="savedQueryList" [sort_by]="sort_by" [sort_direction]="sort_direction" [searchTerm]="searchTerm" [filteredQuery]="filteredQuery" (newQuery)="newQuery($event);" (deleteQuery)="deleteQuery($event)" (clearAll)="clearAll($event);" (sort)="sort($event);" (searchList)="searchList($event);"></list-query>
				</div>
			</div>
			<!-- Sidebar end -->
			<!-- Query main container start -->
			<div class="col-xs-12 query-main-container">
				<div class="col-sm-12 col-md-6 query-build">
					<query-build [finalUrl]="finalUrl" [detectChange]="detectChange" [mapping]="mapping" [config]="config" [editorHookHelp]="editorHookHelp" [savedQueryList]="savedQueryList" [query_info]="query_info" (saveQuery)="saveQuery($event)" (setFinalUrl)="setFinalUrl($event)"></query-build>
				</div>
				<div class="col-sm-12 col-md-6">
					<query-result [mapping]="mapping" [config]="config" [editorHookHelp]="editorHookHelp" [responseHookHelp]="responseHookHelp" [finalUrl]="finalUrl"></query-result>
				</div>
			</div>
			<!-- Query main container end -->	
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<query-run [mapping]="mapping" [config]="config" [responseHookHelp]="responseHookHelp"></query-run>
				</div>
			</div>
		</div>
	</div>
</div>
