<div class="modal fade modal-danger" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
				<h4 class="modal-title" id="myModalLabel">{{info.title}}</h4> </div>
			<div class="modal-body">
				{{info.message}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" (click)="confirm(false);">
					{{info.noText || 'No'}}
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirm(true);">{{info.yesText || 'Yes'}}</button>
			</div>
		</div>
	</div>
</div>
