.loading {
  height: 100%;
  width: 100%;
  display: table;
  background: rgba(247, 247, 247, 0.9);
  position: fixed;
  z-index: 4; }
  .loading .vertical-cell {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: #f7f7f7;
  border-bottom: 0;
  padding: 6px;
  max-height: 40px;
  margin: 0 auto; }
  .header .header-container {
    display: inline-block; }
    .header .header-container .img-container {
      max-width: 170px;
      display: inline-block;
      float: left;
      padding: 5px;
      left: 10px; }
    .header .header-container .tag-line {
      padding-left: 15px;
      line-height: 30px; }
