.feature-query-container {
  position: relative; }
  .feature-query-container .features-section {
    position: absolute;
    width: 250px;
    height: 100%;
    left: 0;
    top: 0;
    background: #f1f1f1;
    border-right: 1px solid #eee;
    padding: 15px 0;
    z-index: 2;
    transition: all 0.2s; }
    .feature-query-container .features-section .feature-section-container {
      overflow: auto;
      display: block; }
      .feature-query-container .features-section .feature-section-container .feature-btns {
        padding: 0 15px; }
      .feature-query-container .features-section .feature-section-container .theme-list {
        list-style: none;
        padding: 0;
        margin-top: 0; }
        .feature-query-container .features-section .feature-section-container .theme-list li.list-item {
          display: block;
          border-bottom: 1px solid #ddd;
          padding: 10px 15px;
          cursor: pointer; }
          .feature-query-container .features-section .feature-section-container .theme-list li.list-item:hover {
            background: #ddd; }
          .feature-query-container .features-section .feature-section-container .theme-list li.list-item.list-title {
            background: #337ab7;
            color: #fff; }
    .feature-query-container .features-section .sidebar-toggle {
      position: absolute;
      right: -26px;
      top: 15px;
      z-index: 3;
      padding: 8px 7px; }
      .feature-query-container .features-section .sidebar-toggle .sidebar-open {
        display: none; }
  .feature-query-container .query-main-container {
    padding-left: 250px;
    transition: all 0.2s; }
    .feature-query-container .query-main-container .query-build {
      padding-left: 35px; }
  .feature-query-container.off .features-section {
    width: 0; }
    .feature-query-container.off .features-section .feature-section-container {
      display: none; }
    .feature-query-container.off .features-section .sidebar-open {
      display: inline-block; }
    .feature-query-container.off .features-section .sidebar-close {
      display: none; }
  .feature-query-container.off .query-main-container {
    padding-left: 0; }
  .feature-query-container .select2-container {
    width: 100% !important; }
