.init-ES,
footer {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 6;
  background: #f7f7f7;
  padding: 5px;
  padding-left: 165px;
  padding-right: 130px;
  border-bottom: 1px solid #dedede; }
  .init-ES .action-btns,
  footer .action-btns {
    position: absolute;
    left: 5px;
    display: inline-block; }
    .init-ES .action-btns .share-btn,
    footer .action-btns .share-btn {
      padding: 9px 12px; }
    .init-ES .action-btns .link,
    footer .action-btns .link {
      padding-left: 10px; }
  .init-ES .submit-btn,
  footer .submit-btn {
    position: absolute;
    right: 5px;
    width: 125px; }

.share_content .share_content {
  display: none; }

.url-container {
  position: relative; }
  .url-container .hide-url {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    display: block;
    text-align: right;
    border-radius: 4px;
    background: #f7f7f7;
    border-bottom: 2px dashed #ccc; }
    .url-container .hide-url .btn {
      margin-top: -1px;
      padding: 9px 12px; }
    .url-container .hide-url.expand {
      width: 100%; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: #f7f7f7;
  border-bottom: 0;
  padding: 6px;
  max-height: 40px;
  margin: 0 auto; }
  .header .header-container {
    display: inline-block; }
    .header .header-container .img-container {
      max-width: 170px;
      display: inline-block;
      float: left;
      padding: 5px;
      left: 10px; }
    .header .header-container .tag-line {
      padding-left: 15px;
      line-height: 30px;
      font-size: 20px; }
  @media screen and (max-width: 768px) {
    .header .header-container .img-container {
      max-width: 120px; }
    .header .header-container .tag-line {
      padding-left: 15px;
      line-height: 30px;
      font-size: 14px; } }
  @media screen and (max-width: 500px) {
    .header .header-container {
      height: 30px; }
      .header .header-container .tag-line {
        display: none; } }

footer {
  position: absolute;
  bottom: 0;
  top: auto;
  padding-right: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 0;
  z-index: 99999999;
  height: 36px;
  padding-left: 5px; }
  footer .powered_by {
    position: absolute;
    right: 5px; }
  footer .github-star {
    position: absolute;
    left: 5px; }
  @media screen and (max-width: 768px) {
    footer {
      height: 56px; }
      footer .powered_by, footer .github-star, footer .footer-center {
        font-size: 11px;
        line-height: 23px; }
      footer .footer-center {
        position: relative;
        display: block;
        width: 100%; } }
