#learnModal .modal-title {
  font-size: 20px; }

#learnModal .learn-list-contianer {
  padding: 15px 0; }
  #learnModal .learn-list-contianer .learn-list {
    padding-left: 0;
    list-style: none;
    font-size: 16px; }
    #learnModal .learn-list-contianer .learn-list li {
      margin-bottom: 10px; }
  #learnModal .learn-list-contianer .introBottom {
    display: table;
    width: 100%; }
