.pd-0 {
  padding: 0 !important; }

.pd-r0 {
  padding-right: 0; }

.pd-l0 {
  padding-left: 0; }

.pd-r10 {
  padding-right: 10px; }

.pr-5 {
  padding-right: 5px !important; }

.m-r5 {
  margin-right: 5px; }

.m-r10 {
  margin-right: 10px; }

.m-0 {
  margin: 0; }

.m-b0 {
  margin-bottom: 0; }

.m-b15 {
  margin-bottom: 15px; }

.mt-10 {
  margin-top: 10px; }

.mt-5 {
  margin-top: 5px; }

.m-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.clearfix {
  clear: both; }

.app-container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  height: 100%; }

.init-ES, footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  background: #f7f7f7;
  padding: 5px;
  padding-left: 47px;
  padding-right: 130px;
  border-bottom: 1px solid #dedede; }
  .init-ES .share-btn, footer .share-btn {
    position: absolute;
    left: 5px;
    display: inline-block;
    padding: 9px 12px; }

.share_content .share_content {
  display: none; }

.init-ES .submit-btn {
  position: absolute;
  right: 5px;
  width: 125px; }

.ui-layout-pane-center {
  background: #f7f7f7; }

.ui-layout-pane-west {
  padding-bottom: 80px; }

.queryRight {
  padding: 15px 15px 15px 0;
  background: #f7f7f7;
  border-left: 1px solid #dedede;
  border-bottom: 1px solid #dedede; }

.queryLeft {
  padding: 15px; }

.codemirror {
  margin-bottom: 15px; }

.single_query .select2-container {
  width: 100%; }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2d6da3; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.active {
    background-color: #2d6da3; }

.btn-grey {
  color: #555;
  border-color: #bbb;
  background: #ccc; }
  .btn-grey:hover {
    background: #bfbfbf; }

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

.url-container {
  position: relative; }

.hide-url {
  position: absolute;
  width: auto;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  display: block;
  text-align: right;
  border-radius: 4px;
  background: #ddd;
  border: 1px solid #ccc; }

.hide-url .btn {
  margin-top: -1px;
  padding: 9px 12px; }

.hide-url.expand {
  width: 100%; }

.query-main-container {
  position: relative;
  min-height: 100%;
  height: auto;
  display: block; }

footer {
  position: absolute;
  bottom: 0;
  top: auto;
  padding-right: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 0;
  z-index: 99999999;
  height: 36px;
  padding-left: 5px; }
  footer .powered_by {
    position: absolute;
    right: 5px; }

.loading {
  height: 100%;
  width: 100%;
  display: table;
  background: rgba(247, 247, 247, 0.9);
  position: fixed;
  z-index: 10; }

.loadingBar {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 800;
  background: #48e79a;
  transform: translateX(100%); }

.is-loadingApp .loadingBar {
  display: block;
  animation: shift-rightwards 1s ease-in-out infinite;
  animation-delay: .8s; }

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%); }
  40% {
    transform: translateX(0); }
  60% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }
