.query-build {
  /*padding-bottom: 100px;*/ }

.single_query.bool_query.show_hidden {
  background: #eee; }

.bool_query.show_hidden > .add_condition_row > .add_condition,
.bool_query.show_hidden > .bool-btn-group {
  display: inline-block;
  z-index: 9; }

.queryLeft {
  padding: 15px; }
  .queryLeft .bool_query:first-child .nested-first {
    padding-left: 15px; }

.bool_query .add_condition_row {
  padding: 0;
  padding-left: 15px;
  min-height: 34px; }
  .bool_query .add_condition_row .add_condition {
    display: none; }

.bool_query .internvalQuery {
  padding-left: 15px; }
  .bool_query .internvalQuery .add_condition,
  .bool_query .internvalQuery .nested-query {
    display: none; }
  .bool_query .internvalQuery:hover .add_condition,
  .bool_query .internvalQuery:hover .nested-query,
  .bool_query .internvalQuery:hover .add_condition_delete {
    display: inline-block; }

.bool_query .subQuery {
  padding: 0;
  padding-top: 15px; }
  .bool_query .subQuery .single_query {
    border: 0;
    padding-top: 10px;
    padding-right: 0; }

.bool_query .nested-container {
  position: relative;
  padding-left: 120px; }
  .bool_query .nested-container .nested-query {
    position: absolute;
    left: 6px;
    top: 0; }

.single_query {
  padding: 15px;
  padding-top: 15px;
  background: rgba(226, 91, 25, 0.2);
  border: 1px solid #dedede;
  margin-bottom: 10px;
  position: relative; }
  .single_query .action-btn-group {
    position: absolute;
    top: 1px;
    right: 1px;
    display: none; }
  .single_query .select2-container {
    width: 100%; }
  .single_query .form-control,
  .single_query .form-element {
    max-width: 100%; }
  .single_query .editable-pack {
    line-height: 32px;
    height: 32px; }
    .single_query .editable-pack .editable-front {
      display: inline-block;
      color: #828282;
      border-bottom: 1px dashed;
      cursor: pointer;
      overflow: hidden; }
      .single_query .editable-pack .editable-front:hover {
        color: #555; }
    .single_query .editable-pack .editable-back {
      display: none; }
      .single_query .editable-pack .editable-back .select2-container {
        width: 100% !important; }
    .single_query .editable-pack.on .editable-front {
      display: none; }
    .single_query .editable-pack.on .editable-back {
      display: inline-block; }
  .single_query div.checkbox, .single_query div.radio {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 10px 0;
    cursor: pointer; }
    .single_query div.checkbox label, .single_query div.radio label {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 5px; }
      .single_query div.checkbox label:before, .single_query div.radio label:before {
        content: '';
        background: #fff;
        border: 2px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        padding: 2px;
        margin-right: 10px;
        text-align: center; }
    .single_query div.checkbox input, .single_query div.radio input {
      opacity: 0;
      position: absolute; }
      .single_query div.checkbox input:checked + label:before, .single_query div.radio input:checked + label:before {
        background: #FCC829;
        box-shadow: inset 0px 0px 0px 3px #fff; }
  .single_query div.radio label {
    padding-left: 0;
    padding-right: 15px; }
  .single_query div.radio input + label:before {
    border-radius: 50%; }
  .single_query.bool_query {
    background: #f7f7f7; }
  .single_query.query_complete {
    background: rgba(82, 199, 130, 0.2); }
  .single_query.internal-query:hover .action-btn-group {
    display: inline-block; }
  .single_query .query-primary-input,
  .single_query .option-container {
    position: relative; }
    .single_query .query-primary-input .input_with_option,
    .single_query .option-container .input_with_option {
      position: relative;
      width: 100%;
      float: left;
      display: block;
      padding-right: 30px;
      border-bottom: 1px solid #828282; }
      .single_query .query-primary-input .input_with_option input,
      .single_query .option-container .input_with_option input {
        border: 0; }
    .single_query .query-primary-input .delete-option,
    .single_query .option-container .delete-option {
      position: absolute;
      right: 0;
      top: 9px; }
  .single_query .add-option {
    position: absolute;
    left: -35px;
    top: 9px; }
  .single_query .option-container {
    padding-left: 30px; }
    .single_query .option-container .single-option {
      padding: 0;
      padding-top: 5px; }
    .single_query .option-container .delete-option {
      right: -15px; }

.sort-query .single_query {
  background-color: rgba(255, 255, 255, 0.4); }

.form-element input {
  color: #828282;
  background: 0 0;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid;
  border-radius: 0;
  padding: 0;
  line-height: 32px;
  height: 32px; }

.form-element.header-element input {
  border-bottom: 1px dashed #aaa;
  background: transparent;
  padding: 0 5px; }
  .form-element.header-element input.form-control[readonly] {
    background-color: transparent;
    opacity: 0.5; }

.esContainer .form-element.header-element input {
  border-bottom: 2px dashed #aaa; }

.toggle, .tabs {
  display: inline-block;
  border-radius: 4px;
  height: 32px;
  overflow: hidden;
  text-transform: uppercase; }
  .toggle.head-tabs, .tabs.head-tabs {
    height: auto;
    overflow: auto; }
  .toggle.responseMode, .tabs.responseMode {
    height: auto;
    padding-top: 5px;
    margin-left: 20px; }
    .toggle.responseMode a, .tabs.responseMode a {
      font-size: 10px;
      padding: 5px 6px;
      height: auto;
      border: 0;
      background: #f7f7f7;
      color: #828282 !important;
      border: 0;
      border-radius: 3px; }
      .toggle.responseMode a:first-child, .tabs.responseMode a:first-child {
        border-left: 0;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .toggle.responseMode a:last-child, .tabs.responseMode a:last-child {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
      .toggle.responseMode a.selected, .tabs.responseMode a.selected {
        background: #FCC829;
        color: #fff !important; }
        .toggle.responseMode a.selected:hover, .tabs.responseMode a.selected:hover {
          background: #FCC829;
          color: #fff !important; }
      .toggle.responseMode a:hover, .tabs.responseMode a:hover {
        background: #f7f7f7;
        color: #828282 !important; }
  .toggle a, .tabs a {
    width: 55px;
    display: inline-block;
    float: left;
    background-color: #fff;
    height: 33px;
    padding-top: 8px;
    font-size: 12px;
    color: #888;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .toggle a:hover, .toggle a:focus, .tabs a:hover, .tabs a:focus {
      text-decoration: none;
      color: #444; }
    .toggle a.selected, .tabs a.selected {
      background-color: #FCC829;
      color: #fff; }

.tabs {
  border-radius: 4px;
  height: 37px; }
  .tabs a {
    width: auto;
    padding: 9px 18px;
    height: 37px;
    border: 2px solid #f3f3f3;
    border-left: 0;
    background-color: #FCC829;
    color: #fff !important; }
    .tabs a:first-child {
      border-left: 2px solid #fefefe; }
    .tabs a:hover, .tabs a:focus {
      background-color: #FFAF3B;
      color: #fff; }
    .tabs a .fa {
      margin-right: 3px; }
    .tabs a .fa-minus {
      display: none; }
    .tabs a .fa-plus {
      display: inline-block; }
    .tabs a.selected {
      background-color: #666; }
      .tabs a.selected .fa-plus {
        display: none; }
      .tabs a.selected .fa-minus {
        display: inline-block; }
