.bool_query .delete-nested-query {
  display: none; }

.bool_query:hover .delete-nested-query {
  display: inline-block; }

.bool_query .internvalQuery .add_condition_row {
  min-height: 36px; }

.bool_query .internvalQuery .add_condition,
.bool_query .internvalQuery .nested-query {
  display: none; }

.bool_query .internvalQuery:hover .add_condition,
.bool_query .internvalQuery:hover .nested-query,
.bool_query .internvalQuery:hover .add_condition_delete {
  display: inline-block; }

.bool_query:hover .bool-btn-group {
  display: inline-block; }
