.query-result-container.layoutApplied {
  background: #f7f7f7;
  padding-bottom: 30px; }
  .query-result-container.layoutApplied .queryRight {
    padding: 15px 15px 15px 0;
    background: #f7f7f7;
    border-left: 1px solid #dedede;
    height: 100%;
    position: relative; }
    .query-result-container.layoutApplied .queryRight .rightRow {
      position: absolute;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0 15px; }
      .query-result-container.layoutApplied .queryRight .rightRow.url-row {
        top: 0; }
      .query-result-container.layoutApplied .queryRight .rightRow.run-row {
        bottom: 0;
        padding-bottom: 0; }
    .query-result-container.layoutApplied .queryRight .codeMirror-container {
      height: 100%;
      position: relative;
      padding: 25px 0 40px 0; }
      .query-result-container.layoutApplied .queryRight .codeMirror-container .CodeMirror {
        height: 100%; }
  @media screen and (max-width: 768px) {
    .query-result-container.layoutApplied {
      padding-bottom: 0; } }

.codemirror {
  margin-bottom: 15px; }

.streaming-response {
  -webkit-animation: streaming 2.0s ease-in-out;
  animation: streaming 2.0s ease-in-out; }

.stream-signal {
  width: 2rem;
  height: 2rem;
  float: right;
  margin-right: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #888;
  position: relative; }
  .stream-signal:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid #fff; }
  .stream-signal.warning {
    background-color: #f0ad4e; }
  .stream-signal.success {
    background-color: #5cb85c; }
  .stream-signal .spinner {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%; }
    .stream-signal .spinner.active {
      background-color: #333;
      -webkit-animation: stream-signal 1.0s infinite ease-in-out;
      animation: stream-signal 1.0s infinite ease-in-out; }

@-webkit-keyframes stream-signal {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes stream-signal {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@-webkit-keyframes streaming {
  0% {
    background: #B6EF7E; }
  100% {
    background: transparent; } }

@keyframes streaming {
  0% {
    background: #B6EF7E; }
  100% {
    background: transparent; } }
