<div class="form-group single_query col-xs-12 bool_query" (mouseover)="show_hidden_btns($event);" (mouseout)="hide_hidden_btns($event);">
    <div class="action-btn-group bool-btn-group">
        <a href="javascript:void(0)" class="btn btn-grey delete-nested-query" (click)="deleteSort();">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="row m-b15">
        <div class="row m-0 col-xs-12">
            <div *ngFor="let sort of result.sort, let i=index" class="form-group col-xs-12 single_query internal-query sort-row-{{i}}" [ngClass]="{'query_complete': sort.selectedField}">
                <div class="action-btn-group">
                    <a href="javascript:void(0)" class="btn btn-grey" (click)="removeSortQuery(i);">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <editable class="col-xs-4 pd-l0 sort-field-select-{{i}}" 
                    [editableField]="sort.selectedField"
                    [editPlaceholder]="'field'"
                    [editableInput]="'select2'"
                    [result]="result"
                    [selectOption]="allFields"
                    [selector]="'sort-field-select'"
                    [passWithCallback]="i"
                    (callback)="sortFieldCallback($event)">
                </editable>

                <div class="col-xs-4">
                    <div class="radio">
                        <input [id]="'r-' + i" type="radio" [name]="'order-' + i" [checked]="sort.order === 'asc'" autocomplete="off" (change)="setSortOrder('asc', i)">
                        <label attr.for="{{ 'r-' + i }}">Asc</label>
                    </div>
                    <div class="radio">
                        <input [id]="'rx-' + i" type="radio" [name]="'order-' + i" [checked]="sort.order === 'desc'" autocomplete="off" (change)="setSortOrder('desc', i)">
                        <label attr.for="{{ 'rx-' +  i }}">Desc</label>
                    </div>
                </div>

                <editable class="col-xs-4 pd-l0 sort-optional-select-{{i}}" 
                    [editableField]="''"
                    [editPlaceholder]="'select-optional-parameter'"
                    [editableInput]="'select2'"
                    [result]="result"
                    [selectOption]="sort.availableOptionalParams"
                    [selector]="'sort-optional-select'"
                    [informationList]="optionalParamsInformation"
                    [showInfoFlag]="true"
                    [passWithCallback]="i"
                    (callback)="sortOptionalCallback($event)">
                </editable>
                
                <div class="row m-0 clearfix">
                    <div class="col-xs-4 pd-l0" *ngIf="sort.mode || sort.mode == ''">
                        <editable class="sort-mode-select-{{i}}" 
                            [editableField]="sort.mode"
                            [editPlaceholder]="'mode'"
                            [editableInput]="'select2'"
                            [result]="result"
                            [selectOption]="modeList"
                            [selector]="'sort-mode-select'"
                            [informationList]="informationList"
                            [showInfoFlag]="true"
                            [passWithCallback]="i"
                            (callback)="sortModeCallback($event)">
                        </editable>
                    </div>
                    <div class="col-xs-4 pd-l0" *ngIf="sort.missing || sort.missing == ''">
                        <input type="text" class="form-control"
                            [(ngModel)]="sort.missing"
                            placeholder="Missing values"
                            (keyup)="exeBuild();" />
                    </div>
                    <div class="col-xs-4 pd-l0" *ngIf="sort.unmapped_type || sort.unmapped_type == ''">
                        <input type="text" class="form-control"
                            [(ngModel)]="sort.unmapped_type"
                            placeholder="Unmapped Type"
                            (keyup)="exeBuild();" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 add_condition_row" style="padding: 0">
        <button class="btn btn-default add_condition" (click)="initSort()">Add New Sorting</button>
    </div>
</div>