.init-ES, footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    background: #eee;
    padding: 5px;
    padding-right: 130px;
    border-bottom: 1px solid #ddd;
}
.init-ES .submit-btn {
    position: absolute;
    right: 5px;
    width: 125px;
}