<form class="col-xs-12 init-ES" id="init-ES">
	<div class="esContainer">
		<div class="form-group m-0 col-xs-8 pd-0 pr-5">
			<input type="text"
			[(ngModel)]="config.url"
			class="form-control" 
			name="url" 
			placeholder="ElasticSearch Cluster URL: https://username:password@scalr.api.appbase.io" />
		</div>
		<div class="form-group m-0 col-xs-4 pd-0 pr-5">
			<input type="text" 
			[(ngModel)]="config.appname"
			class="form-control"
			name="appname" 
			placeholder="Index name to browse data from" value="moviedb" />
		</div>
		<div class="submit-btn-container">
			<a (click)="connect()" class="btn btn-default submit-btn">Connect</a>
		</div>
	</div>
</form>