<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Query Result</h4>
      </div>
      <div class="modal-body">
      	<!-- <div class="loading" *ngIf="mapping.isWatching">
      		<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
      		Loading, please wait...
      	</div> -->
      	<div class="result_block">
	        <textarea 
				class="form-control m-b15"
				name="responseBlock" 
				id="responseBlock" cols="30" rows="10">
			</textarea>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>