.bool_query {
	.action-btn-group {
		.btn {
			height: 36px;
		}
	}
	.delete-nested-query {
		display: none;
	}
	&:hover {
		.delete-nested-query {
			display: inline-block;
		}
	}
	.internvalQuery {
		.add_condition_row {
			min-height: 36px;
		}
		.add_condition,
		.nested-query,
		.add_condition_delete {
			display: none;
		}
		&:hover {
			.add_condition,
			.nested-query,
			.add_condition_delete {
				display: inline-block;
			}
		}
	}
}