<div class="col-xs-12 pd-0">
	<a (click)="sortBy('tag')" class="btn btn-sort col-xs-6" [ngClass]="{active: prop == 'tag'}">
		Tag
	</a>
	<a (click)="sortBy('createdAt')" class="btn btn-sort col-xs-6" [ngClass]="{active: prop == 'createdAt'}">
		Date
	</a>
</div>
<ul class="theme-list col-xs-12">
	<li class="list-item col-xs-12 list-title" (click)="applyClearAll();">Saved Queries (clear all)</li>
	<li class="list-item col-xs-12" *ngFor="let query of savedQueryList, let i=index">
		<a class="col-xs-12 pd-0"  (click)="applyQuery(query);">
			{{query.name}}	<span class="badge">{{query.tag}}</span>
		</a>
		<a class="btn btn-danger delete-query" (click)="applyDeleteQuery();">
			<i class="fa fa-times"></i>
		</a>
	</li>
</ul>