@import "variables.scss";
.query-result-container {
	background: $grey-bg;
	.queryRight {
		padding: 15px 15px 15px 0;
		background: $grey-bg;
		border-left: 1px solid darken($grey-bg, 10%);
		border-bottom: 1px solid darken($grey-bg, 10%);
	}
}
.codemirror {
	margin-bottom: 15px;
}
